
/*------------------------------------*\

        DOGHOUSE.CSS

\*------------------------------------*/



/*
    Author:                 Erfan Imani
    Designer:               Benjamin Bourier
    Url:                    dhmedia.com.au
    Date:                   January 2014
*/




/*------------------------------------*\

    CONTENTS

\*------------------------------------*/

/*
    GENERAL
    ICONS
    MESSAGES
    LOGINPAGE
    HELPERS
    FONTS
*/





/*------------------------------------*\

    GENERAL

\*------------------------------------*/

html {
    box-sizing: border-box;
    height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    height: 100%;
    font: 15px/1.5em 'Proxima Nova Light', Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    background: #ffba00;
}

a {
    transition-duration: 0.5s;
    transition-property: color;
    color: black;
    color: rgba(0,0,0,0.5);
    text-decoration: none;
}

a:hover {
    color: black;
    color: rgba(0,0,0,0.8);
    text-decoration: none;
}

a:focus {
    color: rgba(77, 137, 245, 0.9);
}

img {
    max-width: 100%;
}





/*------------------------------------*\

    ICONS

\*------------------------------------*/

.logo {
    display: inline-block;
    background: transparent no-repeat 0 0;
    background-size: contain;
}

.logo--magento {
    background-image: url(../img/magento.svg);
    width: 195px;
    height: 225px;
    margin-bottom: 1.5rem;
}

@media(min-width: 600px) {
    .logo--magento {
        margin-bottom: 0;
    }
}

.logo--doghouse {
    background-image: url(../img/doghouse.svg);
    width: 150px;
    height: 65px;
    margin-bottom: 1.5rem;
}





/*------------------------------------*\

    MESSAGES

\*------------------------------------*/

.messages {
    margin-bottom: 2rem;
    text-align: center;
}

.success-msg > ul > li,
.error-msg > ul > li{
    display: block;
    color: white;
    padding: 0.75em;
    margin-bottom: 0.5rem;
}

.success-msg > ul > li {
    background: green;
    background: rgb(37, 157, 4);
}

.error-msg > ul > li{
    background: red;
    background: rgb(255, 66, 66);
}





/*------------------------------------*\

    LOGINPAGE

\*------------------------------------*/

/* --- Blocks/containers --- */

.login-container {
    padding: 10% 1rem 0;
    margin: 0 auto;
    max-width: 600px;
}

.footer {
    text-align: center;
    margin-top: 5em;
}



/* --- Forms --- */

label {
    cursor: pointer;
}

.form__additional {
    text-align: center;
    font-size: 0.7778em;
    margin: 0.75em 0;
}

.input-box {
    color: #525252;
    margin-bottom: 0.25em;
}

.input-text {
    transition-duration: 0.5s;
    transition-property: border-color;
    border: 0;
    border-left: 3px solid rgba(77, 137, 245, 0);
    width: 100%;
    text-align: center;
    padding: 1.1em;
    font-size: 1em;
    font-family: 'Proxima Nova Light', Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}

.input-text:focus {
    border-color: rgba(77, 137, 245, 0.8);
}

.input-text.validation-failed {
    border-color: rgb(255, 66, 66);
}

.validation-advice {
    margin-top: 0.5em;
    color: red;
    font-size: 0.7778em;
    text-align: center;
}

.form-buttons {
    margin-top: 1.25em;
    text-align: center;
}

.form__submit {
    transition-duration: 0.5s;
    transition-property: border-color, color, background-color;
    display: inline-block;
    white-space: normal;
    padding: 0.5rem 0.5rem;
    background: transparent;
    color: white;
    border: 1px solid white;
    text-align: center;
    cursor: pointer;
    font-size: 0.87em;
    text-transform: uppercase;
    font-family: 'Proxima Nova Light', Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    max-width: 100%;
    min-width: 135px;
}

.form__submit::-moz-focus-inner {
  border: 0;
}

.form__submit:hover {
    background: white;
    color: #525252;
}

.form__submit:focus {
    border-color: rgba(77, 137, 245, 0.8);
    color: rgba(77, 137, 245, 0.8);
}

.form__submit:active {
    border-width: 2px;
}

.legal {
    text-transform: uppercase;
    color: white;
    color: rgba(255,255,255,0.7);
    font-size: 0.93em;
}





/*------------------------------------*\

    HELPERS

\*------------------------------------*/

.visuallyhidden {
    border:0!important;
    clip:rect(0 0 0 0)!important;
    height:1px!important;
    margin:-1px!important;
    overflow:hidden!important;
    padding:0!important;
    position: absolute!important;
    width:1px!important;
}

.grid {
    margin-left: -1.5rem;
    list-style:none;
    margin-bottom:0;
}

.grid > .grid {
    margin-left:0;
}

.grid__item {
    display:inline-block;
    width:100%;
    padding-left:1.5rem;
    vertical-align:top;
}

.grid--middle .grid__item {
    vertical-align: middle;
}

.one-half {
    width: 100%;
}

@media(min-width: 600px) {
    .one-half {
        width: 50%;
    }
}

.text--center {
    text-align: center;
}





/*------------------------------------*\

    FONTS

\*------------------------------------*/

@font-face {
    font-family: 'Proxima Nova Light';
    src: url('../font/ProximaNova-Light-webfont.eot');
    src: url('../font/ProximaNova-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/ProximaNova-Light-webfont.woff') format('woff'),
         url('../font/ProximaNova-Light-webfont.ttf') format('truetype'),
         url('../font/ProximaNova-Light-webfont.svg#proxima_nova_ltlight') format('svg');
    font-weight: normal;
    font-style: normal;
}
