<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><?php echo Mage::helper('adminhtml')->__('Log into Magento Admin Page') ?></title>
    <link type="text/css" rel="stylesheet" href="<?php echo $this->getSkinUrl('reset.css') ?>" media="all" />
    <link type="text/css" rel="stylesheet" href="<?php echo $this->getSkinUrl('css/doghouse.css') ?>" media="all" />
    <link rel="icon" href="<?php echo $this->getSkinUrl('favicon.ico') ?>" type="image/x-icon" />
    <link rel="shortcut icon" href="<?php echo $this->getSkinUrl('favicon.ico') ?>" type="image/x-icon" />

    <script type="text/javascript" src="<?php echo $this->getJsUrl('prototype/prototype.js') ?>"></script>
    <script type="text/javascript" src="<?php echo $this->getJsUrl('prototype/validation.js') ?>"></script>
    <script type="text/javascript" src="<?php echo $this->getJsUrl('scriptaculous/effects.js') ?>"></script>
    <script type="text/javascript" src="<?php echo $this->getJsUrl('mage/adminhtml/form.js') ?>"></script>
    <script type="text/javascript" src="<?php echo $this->getJsUrl('mage/captcha.js') ?>"></script>
</head>
<body id="page-login" onload="document.forms.loginForm.username.focus();">

    <div class="login-container">
        <div id="messages">
            <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
        </div>

        <div class="grid grid--middle">
            <div class="grid__item one-half text--center">
                <a href="<?php echo $this->getBaseUrl() ?>" title="Visit frontend"><span class="logo logo--magento"></span></a>
            </div><!--

            --><div class="grid__item one-half text--center">
                <span class="logo logo--doghouse"></span>

                <form method="post" id="loginForm" autocomplete="off">

                    <input name="form_key" type="hidden" value="<?php echo $this->getFormKey() ?>" />

                    <div class="input-box">
                        <label for="username" class="visuallyhidden"><?php echo Mage::helper('adminhtml')->__('User Name:') ?></label>
                        <input tabindex="1" type="text" id="username" name="login[username]" value="" class="required-entry input-text" placeholder="Username" />
                    </div>

                    <div class="input-box">
                        <label for="login" class="visuallyhidden"><?php echo Mage::helper('adminhtml')->__('Password:') ?></label>
                        <input tabindex="2" type="password" id="login" name="login[password]" class="required-entry input-text" placeholder="Password" value="" />
                    </div>

                    <?php echo $this->getChildHtml('form.additional.info'); ?>

                    <div class="form-buttons">
                        <input tabindex="3" type="submit" class="form__submit form-button" value="<?php echo $this->getLoginLabel() ?> " title="<?php echo $this->getLoginLabel() ?>" />
                        <div class="form__additional">
                            <a tabindex="4" href="<?php echo Mage::helper('adminhtml')->getUrl('adminhtml/index/forgotpassword', array('_nosecret' => true)) ?>"><?php echo Mage::helper('adminhtml')->__('Forgot your password ?') ?></a>
                        </div>
                    </div>

                </form>
            </div>
        </div>

        <div class="footer">
            <p class="legal"><?php echo Mage::helper('adminhtml')->__('Magento is a trademark of Magento Inc. Copyright<br />&copy; %s Magento Inc.', date('Y')) ?></p>
        </div>

    </div>

    <script type="text/javascript">
        (function(){
            var loginForm = new varienForm('loginForm');
        })();
    </script>
</body>
</html>
